.app {
  height: 100vh;
  width: 100vw;

  overflow-y: hidden;
}

.main-container {
  background-color: #e3edf0;

  margin-top: 32px;

  height: calc(100% - 32px);
  width: 100%;

  padding: calc(16px + 2vmin);
}

.card {
  background-color: white;

  height: 100%;
  width: 100%;

  border-radius: calc(5px + 2vmin);

  display: flex;
  flex-direction: row;
  align-items: center;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-left {
  height: 100%;
  width: calc(30% - 0.5px);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.history {
  height: 75%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: calc(10px + 2vmin);
  padding-left: calc(10px + 2vmin);
  padding-right: calc(10px + 2vmin);
}

.table {
  height: 100%;
  width: 100%;

  overflow-y: scroll;
}

.h-separator {
  background-color: #c9c9c9;
  height: 1px;
  width: 80%;
}

.panel {
  height: 25%;
  width: 100%;

  padding: calc(5px + 2vmin);
}

.v-separator {
  background-color: #c9c9c9;
  height: 90%;
  width: 1px;
}

.card-right {
  display: flex;

  justify-content: center;
  align-items: center;

  height: 100%;
  width: calc(70% - 0.5px);

  padding: calc(10px + 2vmin);
}