.app {
  height: 100vh;
  width: 100vw;

  overflow-y: hidden;
}

.main-container {
  background-color: #e3edf0;

  margin-top: 32px;

  height: calc(100% - 32px);
  width: 100%;

  padding: calc(16px + 2vmin);
}

.card {
  background-color: white;

  height: 100%;
  width: 100%;

  border-radius: calc(5px + 2vmin);

  display: flex;
  flex-direction: row;
  align-items: center;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-left {
  background-color: red;
  
  height: 100%;
  width: calc(30% - 0.5px);

  display: grid;
  
  padding: calc(10px + 2vmin);
}


/*
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10p
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1 / 3;
  grid-row: 1;
}
*/

.table {
  grid-column: 1;
  grid-row: 1 / 2;
}

.form {
  height: 40%;
}

.v-separator {
  background-color: #c9c9c9;
  height: 90%;
  width: 1px;
}

.card-right {
  display: flex;

  justify-content: center;
  align-items: center;

  height: 100%;
  width: calc(70% - 0.5px);

  padding: calc(10px + 2vmin);
}